html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}

:root {
  /* /* --background: #ffffff; */
  --foreground: #171717;
  --note-card-width: 100%;
  /* 황금비 사용  */
  --note-card-height: calc(var(--note-card-width) * 1.618);

  --calc-note-card-width: calc(var(--note-card-width));
  --calc-note-card-height: calc(var(--note-card-height));
  /* --calc-note-card-height: calc(100% - var(--note-card-width)); */
  --purple: #7c00fe;
  --yellow: #f9e400;
  --blue: #0089ff;
  --orange: #ffaf00;
  --light-red: #f5004f;
}

@media (max-width: 768px) {
  :root {
    --note-card-width: 80%;
    --note-card-height: calc(var(--note-card-width) * 1.618);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.note-card-container {
  /*레이아웃 영역*/
  /* margin-top: 50%; */
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: var(--calc-note-card-width);
  height: var(--calc-note-card-height);
  box-shadow: 0px 0px 1px 3px #5400ab;
  box-sizing: border-box;
  /*줄무늬 영역*/
  background-color: #f9f9f9;
  background-image: linear-gradient(0deg, #e0e0e0 1px, transparent 1px);
  background-size: 100% 30px;
  /*폰트 영역*/
  color: #333;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  padding: 4px;
  /*줄 간격을 폰트 크기의 2배 + 컨테이너 padding/2*/
  line-height: calc(2em + 1.5px);
  .card-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    font-size: 1em;
  }
}

.tab-container {
  position: absolute;
  /*상위 lien-height 영향없도록 변경*/
  line-height: normal;
  left: 100%;
  top: 0px;
  width: fit-content;
  height: 100%;
  /*height 작아질시 스크롤 필요. 추후 [...] 처리 하는 컴포넌트 개발*/
  overflow-y: auto;
  font-size: 0.8em;
  .tab {
    color: white;
    cursor: pointer;
    position: relative;
    padding: 5px;
    width: 25px;
    height: auto;
    &:nth-child(n + 2) {
      margin-top: 3px;
    }
  }
}

.bg-purple {
  background: var(--purple);
}
.bg-blue {
  background: var(--blue);
}
.bg-light-red {
  background: var(--light-red);
}
.bg-orange {
  background: var(--orange);
}

.flex-container {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
