:root {
  /* /* --background: #ffffff; */
  --foreground: #171717;
  --note-card-width: 100vw * 0.61804;
  --calc-note-card-width: calc(var(--note-card-width));
  --calc-note-card-height: calc(100vw - var(--note-card-width));
  --purple: #7c00fe;
  --yellow: #f9e400;
  --blue: #0089ff;
  --orange: #ffaf00;
  --light-red: #f5004f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  /* max-width: 100vw;
  overflow-x: hidden; */
  align-items: center;
}

body {
  height: 100dvh;
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.note-card-container {
  /* margin-top: 50%; */
  width: var(--calc-note-card-width);
  height: var(--calc-note-card-height);
  box-shadow: 0px 0px 1px 3px #5400ab;
  .card-content {
    width: 100%;
    height: 100%;
  }
}

.tab-container {
  position: relative;
  left: calc(var(--calc-note-card-width) + 3px);
  width: fit-content;
  height: fit-content;
  .tab {
    color: white;
    cursor: pointer;
    position: relative;
    padding: 3px;
    width: calc(160px - (160px * 0.61804));
    height: calc((160px * 0.61804));
    /* left: calc((100vw * 0.61804)); */
    box-shadow: 0px 0px 1px 3px #0a0a0a;

    &:nth-child(n + 2) {
      margin-top: 3px;
    }
  }
}

.bg-purple {
  background: var(--purple);
}
.bg-blue {
  background: var(--blue);
}
.bg-light-red {
  background: var(--light-red);
}
.bg-orange {
  background: var(--orange);
}
